
body {
	background: #000;
	color: gold;
}

h1 {
	text-align: center;
	color: gold;
	text-transform: uppercase;
	text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
	font-size: 36px;
	font-family: Arial;
}

.scores b,
.user-settings b{
	display: inline-block;
	width: 49%;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

.vowels,
.consts {
	display: none;
}

h1 b {
	font-size: 1.5em;
}

.container {
  display: inline-block;
  background: #080;
  width: 30px;
  height: 39px;
  position: relative;
  margin: 0;
  border: 1px solid #CCC;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
}
.card.flipped {
  -webkit-transform: translateX(-100%) rotateY(-180deg);
  -moz-transform: translateX(-100%) rotateY(-180deg);
  -o-transform: translateX(-100%) rotateY(-180deg);
  transform: translateX(-100%) rotateY(-180deg);
}
.card figure {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: 3px solid black;
  height: 100%;
  width: 100%;
  line-height: 39px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
}
.card .front {
  top: -1em;
  left: -1.25em;
  background: #FFF;
  color: #000;
}
.card .back {
  top: -1em;
  left: -1.25em;
  background: #00A;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.wheel {
  display: none;
}
button {
	color: #FFF;
	background: #080;
	line-height: 1.5em;
	text-shadow: 1px 1px 1px black;
	border: transparent;
}

button:disabled {
	color: transparent;
	background: black;
	-webkit-transition: background .5s, color: .5s;
}
